body {
    margin: 0;
    background-image: url('https://www.hanser.vip/project/university/study_sync/source/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}